@mixin homepage-bubble {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(-45deg, rgba($grey, 0.25), 75%, $white);
  border-radius: 50%;
  z-index: -1;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}