.home-page {
  @include flex-column;

  height: 100%;
  width: 100%;
  position: relative;

  .infos-block {
    @include flex-column;
    margin-top: auto;

    h1 {
      color: $white;
      font-weight: 900;
      font-size: 200px;
      position: relative;
      margin: 30px 0;

      &::before {
        content: attr(data-text);
        position: absolute;
        opacity: 0.4;
        top: 8px;
        left: 8px;
        color: transparent;
        -webkit-text-stroke: 4px $darkBlue;
        z-index: -1;
      }
    }

    p {
      font-size: 42px;
      font-weight: 600;
      color: $darkBlue;
    }
  }

  .nav-arrow {
    margin-top: auto;
    align-self: flex-end;
  }

  &::before {
    @include homepage-bubble;

    width: 60vh;
    height: 60vh;
    top: 0;
    left: 0;  
    transform: translate(-2vw, -2vw);
  }

  &::after {
    @include homepage-bubble;

    width: 30vh;
    height: 30vh;
    top: 0;
    right: 0;  
    transform: translate(3vw, -3vw);
  }
}
