.user-page{
  @include flex-column;

  .nav-arrow {
    align-self: flex-start;
  }

  .content-block {
    @include flex-column;
    width: 650px;
    gap: $gapMedium;
    margin: $gapBig 0;
  }
}

.users-select {
  width: 100%;
  position: relative;

  & > h1 {
    width: 100%;
  }

  & select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: transparent;
    width: 100%;
    border: 6px solid $white;
    padding: $gapMedium;
    font-size: 32px;
    font-weight: 900;
    font-family: $bodyFont;
    position: relative;
    color: $white;
  }

  & option {
    background: $white;
    color: $darkBlue;
  }

  &::before {
    content: "▼";
    color: $white;
    display: block;
    position: absolute;
    font-size: 32px;
    right: $gapMedium;
    top: 50%;
    transform: translateY(-50%);

  }
}

.infos-block {
  color: $titleColor;
  margin-bottom: $gapMedium;
  font-size: 26px;
  font-weight: 700;

  & > div{
    margin-bottom: $gapSmall;
  };

  & .info-value {
    color: $white;
  }
}

.articles-list {
  display: flex;
  flex-wrap: wrap;
  gap: $gapMedium;
}

.article-block {
  @include flex-column;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  background: $white;
  padding: $gapBig $gapMedium;
  width: calc(50% - calc(#{$gapMedium} / 2));
  gap: $gapMedium;

  & > h2 {
    font-size: 30px;
    font-weight: 700;
  }

  & > p {
    font-size: 18px;
    line-height: 22px;
  }
}